.footer {
    width: 100vw;
    height: 4rem;
    position: fixed;
    bottom: 0;
    padding-left: 1rem;
}

.instaLogo {
    cursor: pointer;
}

.by916 {

    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

@media (max-width: 805px) {

    .footer {
        width: 100vw;
        height: 3rem;
        position: fixed;
        bottom: 0;
    }
    
    .instaLogo {
        cursor: pointer;
        position: absolute;
        left: 0;
    }
    
    .by916 {
    
        position: absolute;
        left: 50%;
        transform: translate(-73%, 0);
    }
}