.footer{
    width: 100vw;
    height: 4rem;
    position: fixed;
    bottom: 0;
    padding-left: 1rem;
}

.instaLogo{
cursor: pointer;
}
.by916{

    position: absolute;
    left: 50%;
    transform: translate(-50%,0 );
}