.navContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10rem;   
    position: relative;
}

.linkGroup{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 1rem 2rem;
    position: relative;
    line-height: 1;
    margin-top: -1rem;

}
a{
    text-decoration: none;
    font-size:2rem;
    color: #f1f1f1;

}
a:hover{
    color: aqua;
    transition-duration: 400ms;
    letter-spacing: 4px;
}

.active{
    color: rgb(247, 247, 107);
}

@keyframes color-change {
    0% { background-color: rgba(233, 34, 34); }
    25% { background-color: rgba(212, 20, 238); }
    50% { background-color: rgba(13, 149, 228); }
    100% { background-color: rgba(245, 230, 17); }
  }
.logo_small{
    cursor:pointer;
   
}
.logo_container:after{
    content: "";
    display: inline-block;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    animation: color-change 3s infinite alternate ;
    position: absolute;
    bottom: 0;
    left: 10rem;
}

@media (max-width: 805px) {

    .navContainer{
        height: 8rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
       
    }
 
    .linkGroup{
         padding: 1.5rem 1rem;
    }
    a{
        font-size: 1.5rem;
    }
    .logo_container:after{
        content: "";
        display: inline-block;
        height: 1.3rem;
        width: 1.3rem;
        border-radius: 50%;
        animation: color-change 2s infinite forwards ;
        position: absolute;
        bottom: 3.3rem;
        left: 4rem;
    }
    .logo_small{
        height: 5rem;
    }
}