.main{
    background-color: #000;
    color: #f1f1f1;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}


.hide_left_arrow{
    visibility: hidden;
}

@media (max-width: 805px) {
    .main{
        overflow-y: scroll;
    }
}
