.main{
    background-color: #010101;
    color: #f1f1f1;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    position: relative;
}

.navContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #010101;
   
}

.linkGroup{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 1rem 2rem;
    position: relative;
    line-height: 1;
    margin-top: -1rem;

}
a{
    text-decoration: none;
    font-size:2rem;
    color: #f1f1f1;

}
a:hover{
    color: aqua;
    transition-duration: 400ms;
    letter-spacing: 4px;
}
a:active{
    color: red;
}

.videos_container{
    width: 100%;
    text-align: center;
    height: fit-content;
}

.video_container{
    border: 2px solid #fff;
}
video{
    height: 70vh;
    width: fit-content;

}
.logo_small{
    cursor: pointer;
}

@media (max-width: 805px) {
    .navContainer{
      
        height: 8rem;
       
    }
    .navContainerNoLogo{
 
        height: 8rem;
    }
    
    
    .linkGroup{
    
        padding: 1rem 1rem;
     
    
    }
    .logo_small{
        height: 10rem;
    }

    .videos_container{
        margin-top: 2rem;
        width: 100%;
        text-align: center;
        height: fit-content;
    }
    
    .video_container{
        border: 1px solid #fff;
    }
}
