@font-face {
    font-family: 'Gilroy';
    font-family: 'GilroyBold';
    src: local('Gilroy'), url(../../fonts/Gilroy-Light.otf) format('truetype');
    src: local('GilroyBold'), url(../../fonts/Gilroy-ExtraBold.otf) format('truetype');

  }

.slide_container{
   display: flex;
   justify-content: center;
   align-items: center;
   height: calc(100vh - 15rem);
}

.caption{
 width: 40vw;
 text-align: left;
}

h2{
    font-size: 3.5rem;
    font-family: "GilroyBold";
}
h2>img{
    height: 5rem;
}

p{
 font-size: 1.6rem;

}

.video_container{
    width: 32vw;
    height: auto;
}

.form_container{
   height: calc(100vh - 15rem);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 32vw;

}

 form{
     display: grid;
     gap: 4px;
     width: 100%;
     height: 150px;
 }

 .name{

    grid-column: 1 / span 3; 
    grid-row: 1 / span 2;
    border:1px solid;
    border-image: linear-gradient(45deg,orange, purple, orange) 1;
    border-radius: 8px !important;
 }
 .school{
    grid-column: 4 / span 3;
    grid-row: 1 / span 2;
    border:1px solid;
    border-image: linear-gradient(45deg,rgb(205, 206, 133), purple, orange) 1;
    border-radius: 8px;

 }
 .email{
    grid-column: 1 / span 6;
    grid-row: 3 / span 1;
    border:1px solid;
    border-image: linear-gradient(45deg,red, rgb(81, 81, 216), rgb(236, 200, 134)) 1;
    border-radius: 8px;
 }
 .submit{
    grid-column: 7 / span 2;
    grid-row: 1 / span 3;
    border:1px solid;
    border-image: linear-gradient(45deg,orange, purple, rgb(255, 174, 0)) 1;
    border-radius: 8px;
 }
 .submit:hover{
    border:1px solid;
    border-image: linear-gradient(45deg,green, rgb(206, 228, 204), green) 1;

 }

 input{
     width: 100%;
     height: 100%;
     text-align: center;
     background-color: inherit;
     border: none;
     color: #fff;
     font-size: 1.2rem;
     font-weight: 600;
     letter-spacing: 1px;
 }

@media (max-width: 805px) {
    .slide_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: fit-content;
        margin-top: 2.5rem;
     }

     .caption{
        width: 90vw;
        text-align: center;

       }
    .caption>p{
        font-size: 1rem;
    }

       .video_container{
        width: 90vw;
        height: auto;
        height: 30vh;
    }
    .caption6{
        width: 90vw;
        padding-left: 5vw;
        text-align: left;
       }
    .video_container6{
        width: 90vw;
        height: auto;
        visibility: hidden;
     
    }
    .form_container{
        height: calc(100vh - 15rem);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90vw;
     
     }
    p{
        font-size: 1.2rem;
       
       }
    h2{
        font-size: 2rem !important;
        font-family: "GilroyBold";
    }
    h2>img{
        height: 3rem !important;
    }
    
    p{
     font-size: 1.4rem;
    
    }
}